.menu a h1
{
color:rgb(255, 255, 255);	
text-align: center;
text-decoration: none;
font-weight: 20px;
font-family:Arial, Helvetica, sans-serif;
list-style: none;
}
.menu a h1 span{
    color: rgb(251, 69, 133);
}
.menu
{
    display: flex;
    background-color: lightpink;
    text-align: center;
    align-items: center;
    position: fixed;
    flex-direction: row;
    top: 0; left: 0;right: 0;
    justify-content: space-between;
    text-decoration: none;
}
.menu ul
{
    display: inline-flex;
    list-style: none;
    color: white;
} 
.menu ul li
{
    width:120px;
    margin:15px;
    padding:15px;

}
.menu ul li a
{
text-decoration: none;
color:white;
margin-right: 15px;
margin-top: 15px;
}
.active,.menu ul li:hover
{
    background-color: hotpink;
    border-radius: 3px;
}
.web-text {
    width: 90%;
    position:absolute;
    margin-top: 200px;
    text-align: center;
    margin-left: 20px;
}
.web-text h1{
    text-transform:uppercase;
    color:  rgb(230, 20, 121);
    font-weight: 37px;
    font-size: 37px;
}
.web-text h2{
    text-transform: uppercase;
    font-weight: 35px;
    font-size: 33px;
    color:  rgb(230, 20, 121);
}
.web-text p{
    color: rgb(255, 63, 156); 
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
}
.web-button{
    display: inline-block;
    text-decoration: none;
    color: rgb(230, 20, 121);
    font-weight: bolder;
    border: 1px solid rgb(239, 28, 190);
    padding: 12px 34px;
    margin-top: 10px;
    background: transparent;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

